.footer {
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: rgb(5, 0, 38);
  text-align: center;
}

.image {
  margin-bottom: 30px;
  font-size: 40px;
}

.link {
  font-size: 18px;
  font-family: 'IBM Plex Mono';
  font-weight: bold;
}
