.footer {
  padding-top: 90px;
  padding-bottom: 20px;
  background-color: rgb(3, 16, 60);
  text-align: center;
}

.image {
  margin-bottom: 30px;
  font-size: 40px;
}

.link {
  font-size: 18px;
  font-family: Times, Times New Roman, serif;
  font-weight: bold;
}
