.title {
  font-size: xx-large;
  font-weight: bold;
  color: rgb(5. 0, 38);
  margin-left: 50px;
  margin-top: 20px;
}

.tabs {
  margin-top: 30px;
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: left;
}
.tabs button:active {
  background-color: grey;
}

.posts {
  margin-top: 30px;
  font-size: xx-large;
}

.button {
  font-size: 24px;
  width: 400px;
}

.page {
  background-color: rgb(230, 230, 230);
  padding-bottom: 80px;
}

.postTab {
  background-color: grey;
  border-color: grey;
  font-size: 24px;
  width: 400px;
}
