.title {
  font-size: xx-large;
  font-weight: bold;
  color: rgb(5. 0, 38);
  margin-left: 50px;
  margin-top: 20px;
}

.posts {
  margin-top: 40px;
  font-size: xx-large;
}

.button {
  margin-top: 30px;
  margin-left: 50px;
}

.page {
  background-color: rgb(230, 230, 230);
  padding-bottom: 250px;
}

.postTab {
  background-color: grey;
  border-color: grey;
  font-size: 24px;
  width: 400px;
}
