.title {
  font-size: 36px;
  font-weight: bold;
  color: rgb(0, 0, 133);
  margin-left: 10%;
  margin-top: 30px;
}

.tabs {
  margin-top: 30px;
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
}

.posts {
  margin-top: 30px;
  margin-left: 0px;
}

.button {
  font-family: Bradley Hand, cursive;
  font-size: 24px;
  width: 400px;
  background-color: rgb(47, 239, 253);
}

.page {
  /* background-color: rgb(196, 196, 196); */
  padding-bottom: 80px;
}
