.title {
    font-weight: bold;
    font-size: xx-large;
    margin-left: 50px;
    color: rgb(5, 0, 38);
}

.items {
    display: flex;
    justify-content: left;
    background-color: white;
    padding-left: 50px;
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 20px;
    border: 2px solid rgb(5, 0, 38);
    border-radius: 40px;
  }

.event_post {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}

.dashboard_body {
    background-color: rgb(230, 230, 230);
    padding-bottom: 370px;
}

.dashboard_header {
    background-color: rgb(230, 230, 230);
    height: 20px;
}