.title {
    color: rgb(5, 0, 38);
    font-weight: bold;
    font-size: 50px;
    margin-left: 15%;
    margin-top: 60px;
}

.content {
    color: rgb(5, 0, 38);
    font-size: 30px;
    margin-left: 15%;
    margin-top: 50px;
}